.grid {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    position: relative;
}

.input {
    width: 100%;
    padding: 0.6rem;
    border-radius: 0.4rem;
    border: 0.1rem solid #D2D4D8;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 37.88px;
}

.input:hover {
    cursor: pointer;
}

.input:hover,
.input:focus,
.input:active {
    border-color: var(--primary);
    outline: none;
}

.options {
    z-index: 1;
    top: 5rem;
    position: absolute;
    width: 100%;
    border-radius: 0.4rem;
    background: #F5F6FA;
    box-shadow:
        0 3px 10px rgb(0 0 0 / 0.2);
    overflow: auto;
    max-height: 11rem;
}

.option {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* show and hide options */
.show {
    display: block;
}

.hide {
    display: none;
}

/* when options are shown focus the corresponding input */
.inputFocused {
    border-color: var(--primary);
    outline: none;
}

ul.option p {
    padding: 1rem;
    margin: 0;
}

ul.option p:active,
ul.option p:focus,
ul.option p:hover,
ul.option p[aria-selected="true"] {
    background-color: #D2D4D8;
    cursor: pointer;
}

.hovered {
    color: white;
    background-color: var(--primary);
}

.label {
    color: var(--text);
    font-size: 0.8rem;
    font-weight: 500;
    margin: 1rem 0 0.5rem 0;
}

@media (prefers-color-scheme: dark) {
    .label {
        color: white
    }

    .options {
        background-color: #3B3B3B;
        ;
    }

    ul.option p:active,
    ul.option p:focus,
    ul.option p:hover,
    ul.option p[aria-selected="true"] {
        opacity: 0.7;
        color: black;
    }

    .input {
        background-color: #3B3B3B;
    }
}