.grid {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.input {
    width: 100%;
    padding: 0.6rem;
    border-radius: 0.4rem;
    border: 0.1rem solid #D2D4D8;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 37.88px;
}

.input:hover {
    cursor: pointer;
}

.input:hover,
.input:focus,
.input:active {
    border-color: var(--primary);
    outline: none;
}

.option {
    font-size: 0.8rem
}

.label {
    color: var(--text);
    font-size: 0.8rem;
    font-weight: 500;
    margin: 1rem 0 0.5rem 0;
}

@media (prefers-color-scheme: dark) {
    .label {
        color: white
    }

    .input {
        border: 0.1rem solid rgba(255, 255, 255, .15);
        background-color: #3B3B3B;
    }
}