.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    color: var(--text);
    font-size: 0.95rem;
}

.dropdownContent {
    display: none;
    position: absolute;
    border-radius: 1rem;
    box-shadow:
        0 0.5rem 3rem rgb(0 0 0 / 0.3);
    background-color: var(--secondary);
    padding: 1rem;
    z-index: 1;
}

.dropdownItem {
    width: 100%;
}

.dropdownItem:hover {
    opacity: 0.5;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdown:hover {
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    .dropdown {
        color: white;
    }

    .dropdownContent {
        background-color: #262626;
    }
}