.sidebar {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-right: 0.1rem solid var(--secondary);
    position: relative;
}

.header {
    margin: 1.4rem 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.content {
    width: 100%;
    padding: 0 1rem;
}

.footer {
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 2rem;
}

.collapsed {
    padding: 0 0.25rem;
}

.divider {
    border: 1px solid var(--secondary);
    border-radius: 1rem;
    margin: 0.1rem;
}

.swapper {
    position: absolute;
    z-index: 1;
    top: 10%;
    right: -1rem;
    height: 2rem;
    width: 2rem;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swapper:hover {
    cursor: pointer;
    box-shadow: 0 3px 15px rgb(0 0 0 / 0.2);
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (prefers-color-scheme: dark) {

    .sidebar {
        border-right: 0.1rem solid var(--background-dark);
    }

    .swapper {
        background-color: #262626;
        box-shadow: 0 0 4px white;
    }

    .swapper:hover {
        cursor: pointer;
        box-shadow: 0 0 10px white;
    }

    .divider {
        border: 1px solid var(--background-dark);
    }
}