.main {
    width: 100%;
    padding: 1rem 3rem;
}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.trailing {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 525px) {

    .main {
        padding: 1rem;
    }

    .searchBar {
        display: none;
    }

    .grid {
        justify-content: flex-end;
    }
}

@media (prefers-color-scheme: dark) {}