.main {
    width: 100%;
}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.options {
    display: flex;
    flex-direction: row;
}

@media (max-width: 600px) {}

@media (prefers-color-scheme: dark) {
    .name {
        color: white;
    }
}