.container {
    height: 100%;
}

.table {
    position: relative;

    width: 100%;
    height: 100%;

    border: 1px solid var(--secondary);
    border-radius: 0.4rem;
}

.header {
    z-index: 2;
    position: absolute;

    top: 0;
    right: 0;
    left: 0;

    height: 3.5rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid var(--secondary);
}

.body {
    overflow: auto;
    position: absolute;
    top: 3.5rem;
    bottom: 3.5rem;
    right: 0rem;
    left: 0;
}

.footer {
    z-index: 2;
    position: absolute;

    bottom: 0;
    right: 0;
    left: 0;

    height: 3.5rem;
}

.headerItem {
    height: 45px;

    color: var(--text);
    font-size: 0.9rem;
    font-weight: 600;

    border-radius: 0.4rem;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerTitle:hover {
    cursor: pointer;
}

.bodyItem {
    height: 45px;

    color: var(--text);

    font-size: 0.9rem;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.row {
    padding: 0.25rem 2rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--secondary);
}

.row:hover {
    cursor: pointer;
    background-color: var(--secondary);
}