.main {
    padding: 1.5rem 0;
    width: 100%;
    overflow: auto;
    height: calc(100vh - 4.5rem);
}

.section1 {
    position: relative;
    padding-left: 3rem;
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.section2 {
    padding: 1.5rem 3rem 0 3rem;
    background-color: rgba(var(--primary-rgb), 0.05);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.section3 {
    z-index: 1;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 1.5rem 3rem;
    background-color: var(--secondary);
    border-radius: 0.6rem;
    box-shadow: 0 3px 15px rgb(0 0 0 / 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.row {
    margin-top: 2rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.rowStart {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.rowCenter {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.title {
    margin: 0;
    line-height: 3.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.subtitle {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
}

.description {
    color: gray;
    line-height: 1.5rem;
    width: 800px;
}

.subdescription {
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: gray;
    font-size: 0.8rem;
}

.caption {
    font-weight: 500;
}

.developers {
    font-size: 0.9rem;
    font-weight: 500;
}

.api {
    font-size: 0.9rem;
    margin-right: 0.5rem;
}

.key {
    outline: none;
    background-color: var(--secondary);
    padding: 0.25rem 0.5rem;
    border: 0.1rem solid var(--secondary);
    border-radius: 0.6rem;
}

.copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    padding: 0.25rem;
    border-radius: 0.6rem;
}

.copy:hover {
    cursor: pointer;
}

.contactUs {
    margin: 0.5rem 0;
    font-size: 0.9rem;
}

.contactNumber {
    font-size: 0.9rem;
    font-style: italic;
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    background-color: var(--primary);
}

.pattern {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.onboardStatus {
    margin-top: 1rem;
    color: var(--success-primary);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
}