.grid {
    z-index: 1;
    max-width: 400px;
    top: 2.5rem;
    padding: 0.5rem 1rem;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
}

.leadingGrid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.texts {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    margin-right: 1rem;
}

.title {
    font-weight: 500;
    font-size: 1rem;
}

.description {
    margin-top: 0.2rem;
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--text)
}

.success {
    background-color: var(--success);
    border: 0.15rem solid var(--success-border);
}

.info {
    background-color: var(--info);
    border: 0.15rem solid var(--info-border);
}

.warning {
    background-color: var(--warning);
    border: 0.15rem solid var(--warning-border);
}

.error {
    background-color: var(--error);
    border: 0.15rem solid var(--error-border);
}

@media (max-width: 400px) {
    .grid {
        min-width: 350px;
    }

    .title {
        font-size: 0.9rem;
    }

    .description {
        font-size: 0.7rem;
    }
}

@media (prefers-color-scheme: dark) {
    .title {
        color: black;
    }

    .description {
        color: var(--text)
    }
}