.grid {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.input {
    width: 100%;
    padding: 0.6rem;
    border-radius: 0.4rem;
    border: 0.1rem solid #D2D4D8;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 37.88px;
}

.input:hover,
.input:focus,
.input:active {
    outline: none;
}

.option {
    font-size: 0.8rem
}

.label {
    color: var(--text);
    font-size: 0.8rem;
    font-weight: 500;
    margin: 1rem 0 0.5rem 0;
}

.document {
    font-size: 0.8rem;
}

.upload {
    background-color: var(--primary);
    color: white;
    padding: 0.25rem 0.75rem;
    border-radius: 0.4rem;
    font-size: 0.8rem;
    font-weight: 500;
}

.upload:hover {
    cursor: pointer;
    opacity: 0.7;
}

.change {
    background-color: var(--info-primary);
}

.remove {
    margin-left: 0.5rem;
    background-color: var(--error-primary);
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.remove:hover {
    cursor: pointer;
    opacity: 0.7;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (prefers-color-scheme: dark) {
    .label {
        color: white
    }

    .input {
        border: 0.1rem solid var(--background-dark);
        background-color: #3B3B3B;
    }

}