.link {
    color: var(--primary);
    font-size: 0.8rem;
    font-weight: 500;
}

.link:hover {
    cursor: pointer;
    opacity: 0.7;
}

.disabledLink {
    color: gray;
    font-size: 0.8rem;
    font-weight: 500;
}

.disabledLink:hover {
    cursor: default;
}