.grid {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 0;
}

.info {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
}

.subtitle {
    margin-top: 0.1rem;
    font-size: 0.8rem;
    color: var(--text)
}