.contents {
    padding: 0 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contentItem {
    border-radius: 1rem;
    background-color: var(--secondary);
    font-size: 0.8rem;
    padding: 0.25rem 0.75rem;
    margin-right: 0.5rem;
}

.active {
    background-color: var(--primary) !important;
    color: white
}

.contentItem:hover {
    cursor: pointer;
    background-color: var(--primary);
    color: white
}