.search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 2rem 0.5rem 1rem;
    border-radius: 0.4rem;
    background-color: var(--secondary);
}

.search:hover {
    cursor: pointer;
    outline: 0.12rem solid var(--primary);
}

.input {
    margin-left: 0.5rem;
    font-size: 0.9rem;
    color: black;
    background-color: var(--secondary);
    border: none;
    outline: none;
}

.search:focus-within {
    outline: 0.12rem solid var(--primary);
    border-radius: 0.4rem;
}