.grid {
    width: 100%;
    padding: 2rem;
    background-color: azure;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.verticalLine {
    border-left: 0.1rem solid lightgray;
    height: 100%
}

.title {
    font-size: 0.8rem;
    font-weight: 500;
}

.subtitle {
    margin-top: 0.2rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
}