.container {
    padding: 0.5rem 0.6rem;
}

.container:hover {
    background-color: var(--secondary);
    border-radius: 50%;
}

.notification {
    position: relative;
}

.notification:hover {
    cursor: pointer;
}

.dot {
    z-index: 1;
    position: absolute;
    top: 0.2rem;
    right: 0.1rem;
    height: 0.5rem;
    width: 0.5rem;
    background-color: var(--error-primary);
    border-radius: 50%;
    display: inline-block;
}