.main {
    min-height: 100vh;
    flex: 1;
    display: flex;
    justify-content: stretch;
}

.leftContainer {
    width: 15%;
    position: relative;
    transition: 500ms;
    left: 0;
}

.collapse {
    width: 5%;
}

.rightContainer {
    width: 100%;
    position: relative;
}

.pageContent {
    padding: 1rem 3rem;
    width: 100%;
    height: calc(100vh - 5rem);
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.graphAndTable {
    width: 100%;
    padding-left: 2rem;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

@media (max-width: 525px) {
    .main {
        /* mobile viewport bug fix */
        height: -webkit-fill-available;
    }
}

@media (max-width: 600px) {
    .mobile {
        display: block;
    }

    .leftContainer {
        width: 100%;
    }

    .desktop {
        display: none;
    }
}