.main {
    min-height: 100vh;
    flex: 1;
    display: flex;
    justify-content: stretch;
}

.leftContainer {
    width: 15%;
    position: relative;
    transition: 500ms;
    left: 0;
}

.collapse {
    width: 5%;
}

.rightContainer {
    width: 100%;
    position: relative;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

@media (max-width: 525px) {
    .leftContainer {
        z-index: 2;
        position: absolute;
        left: 0;
        width: 50%;
    }
}

@media (max-width: 600px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}