:root {
  --primary: #6CD14E;
  --primary-rgb: 108, 209, 78;
  --secondary: #F3F4F8;
  --background-dark: rgba(255, 255, 255, .15);

  --success: #F0F8F4;
  --info: #E6EFFA;
  --warning: #FEF8FA;
  --error: #FAEDEA;

  --success-primary: #51DC6C;
  --info-primary: #3286EA;
  --warning-primary: #FEBF23;
  --error-primary: #FB5758;

  --status-success: #59CE8F;
  --status-info: #5F9DF7;
  --status-warning: #FBC252;
  --status-error: #DD5353;

  --success-border: #D5EAD9;
  --info-border: #B4CDEF;
  --warning-border: #F4E1B9;
  --error-border: #EFD0C6;

  --text: #393F4B;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 0.1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #EAEAEA;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--success-primary);
  border-radius: 2rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }


  ::-webkit-scrollbar-track {
    background-color: #393F4B;
  }
}